USE [master]
GO
/****** Object:  Database [thuctapTT]    Script Date: 08/12/2022 10:20:55 ******/
CREATE DATABASE [thuctapTT] ON  PRIMARY 
( NAME = N'thuctapTT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\thuctapTT.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'thuctapTT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\thuctapTT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [thuctapTT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [thuctapTT]
GO
/****** Object:  Table [dbo].[DOQUANTRONG]    Script Date: 08/12/2022 10:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOQUANTRONG](
	[ID_DO_QUAN_TRONG] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[TEN_DO_QUAN_TRONG] [varchar](30) NOT NULL,
 CONSTRAINT [PK_DOQUANTRONG] PRIMARY KEY NONCLUSTERED 
(
	[ID_DO_QUAN_TRONG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONVI]    Script Date: 08/12/2022 10:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONVI](
	[ID_DON_VI] [decimal](18, 0) NOT NULL,
	[MA_DON_VI] [varchar](10) NOT NULL,
	[TEN_DON_VI] [varchar](30) NOT NULL,
 CONSTRAINT [PK_DONVI] PRIMARY KEY NONCLUSTERED 
(
	[ID_DON_VI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUCNANG]    Script Date: 08/12/2022 10:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUCNANG](
	[ID_CHUC_NANG] [decimal](18, 0) NOT NULL,
	[TEN_CHUC_NANG] [varchar](30) NOT NULL,
 CONSTRAINT [PK_CHUCNANG] PRIMARY KEY NONCLUSTERED 
(
	[ID_CHUC_NANG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIVANBAN]    Script Date: 08/12/2022 10:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIVANBAN](
	[ID_LOAI_VAN_BAN] [decimal](18, 0) NOT NULL,
	[MA_LOAI_VAN_BAN] [varchar](10) NOT NULL,
	[TEN_LOAI_VAN_BAN] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LOAIVANBAN] PRIMARY KEY NONCLUSTERED 
(
	[ID_LOAI_VAN_BAN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LINHVUC]    Script Date: 08/12/2022 10:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LINHVUC](
	[ID_LINH_VUC] [decimal](18, 0) NOT NULL,
	[MA_LINH_VUC] [varchar](10) NOT NULL,
	[TEN_LINH_VUC] [varchar](20) NOT NULL,
 CONSTRAINT [PK_LINHVUC] PRIMARY KEY NONCLUSTERED 
(
	[ID_LINH_VUC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICHLAMVIEC]    Script Date: 08/12/2022 10:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHLAMVIEC](
	[ID_LICH_LAM_VIEC] [decimal](18, 0) NOT NULL,
	[NGAY_BAT_DAU] [datetime] NOT NULL,
	[GIO_BAT_DAU] [datetime] NOT NULL,
	[NGAY_KET_THUC] [datetime] NOT NULL,
	[GIO_KET_THUC] [datetime] NOT NULL,
	[NOI_DUNG] [varchar](200) NOT NULL,
	[THANH_PHAN] [varchar](300) NULL,
 CONSTRAINT [PK_LICHLAMVIEC] PRIMARY KEY NONCLUSTERED 
(
	[ID_LICH_LAM_VIEC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VAITRO]    Script Date: 08/12/2022 10:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VAITRO](
	[ID_VAI_TRO] [decimal](18, 0) NOT NULL,
	[TEN_VAI_TRO] [varchar](30) NOT NULL,
 CONSTRAINT [PK_VAITRO] PRIMARY KEY NONCLUSTERED 
(
	[ID_VAI_TRO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANGTHAICONGVIEC]    Script Date: 08/12/2022 10:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRANGTHAICONGVIEC](
	[ID_TRANG_THAI] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[TEN_TRANG_THAI] [varchar](200) NOT NULL,
 CONSTRAINT [PK_TRANGTHAICONGVIEC] PRIMARY KEY NONCLUSTERED 
(
	[ID_TRANG_THAI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NOI_PHAT_HANH]    Script Date: 08/12/2022 10:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NOI_PHAT_HANH](
	[ID_NOI_PHAT_HANH] [decimal](18, 0) NOT NULL,
	[TEN_NOI_PHAT_HANH] [char](50) NOT NULL,
 CONSTRAINT [PK_NOI_PHAT_HANH] PRIMARY KEY NONCLUSTERED 
(
	[ID_NOI_PHAT_HANH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 08/12/2022 10:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[ID_VAI_TRO] [decimal](18, 0) NOT NULL,
	[ID_CHUC_NANG] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_QUYEN] PRIMARY KEY CLUSTERED 
(
	[ID_VAI_TRO] ASC,
	[ID_CHUC_NANG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [PHAN_QUYEN_FK] ON [dbo].[QUYEN] 
(
	[ID_CHUC_NANG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [VAI_TRO_CO_QUYEN_FK] ON [dbo].[QUYEN] 
(
	[ID_VAI_TRO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 08/12/2022 10:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID_NHAN_VIEN] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_DON_VI] [decimal](18, 0) NOT NULL,
	[ID_VAI_TRO] [decimal](18, 0) NOT NULL,
	[MA_NHAN_VIEN] [varchar](30) NOT NULL,
	[HO_TEN] [varchar](50) NOT NULL,
	[SDT] [numeric](10, 0) NOT NULL,
	[NGAY_SINH] [datetime] NOT NULL,
	[DIA_CHI] [varchar](30) NOT NULL,
	[USERNAME] [varchar](10) NOT NULL,
	[PASSWORD] [varchar](10) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[ID_NHAN_VIEN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [CO_VAI_TRO_FK] ON [dbo].[NHANVIEN] 
(
	[ID_VAI_TRO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [THUOC_DON_VI_FK] ON [dbo].[NHANVIEN] 
(
	[ID_DON_VI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANH_PHAN_THAM_DU]    Script Date: 08/12/2022 10:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANH_PHAN_THAM_DU](
	[ID_NHAN_VIEN] [decimal](18, 0) NOT NULL,
	[ID_LICH_LAM_VIEC] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_THANH_PHAN_THAM_DU] PRIMARY KEY CLUSTERED 
(
	[ID_NHAN_VIEN] ASC,
	[ID_LICH_LAM_VIEC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CO_CHI_TIET_FK] ON [dbo].[THANH_PHAN_THAM_DU] 
(
	[ID_LICH_LAM_VIEC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CO_THANH_PHAN_THAM_DU_FK] ON [dbo].[THANH_PHAN_THAM_DU] 
(
	[ID_NHAN_VIEN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VANBAN]    Script Date: 08/12/2022 10:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VANBAN](
	[ID_VAN_BAN] [decimal](18, 0) NOT NULL,
	[ID_NOI_PHAT_HANH] [decimal](18, 0) NOT NULL,
	[ID_NHAN_VIEN] [decimal](18, 0) NOT NULL,
	[ID_LOAI_VAN_BAN] [decimal](18, 0) NOT NULL,
	[SO_VAN_BAN] [varchar](20) NOT NULL,
	[TRICH_YEU] [varchar](50) NOT NULL,
	[NGUOI_KY] [char](20) NOT NULL,
	[NGAY_KY] [datetime] NOT NULL,
	[TRANG_THAI_XU_LY] [varchar](2) NOT NULL,
	[NGAY_GOI] [datetime] NULL,
	[NGAY_NHAN] [datetime] NULL,
 CONSTRAINT [PK_VANBAN] PRIMARY KEY NONCLUSTERED 
(
	[ID_VAN_BAN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [DUOC_PHAT_HANH_TAI_FK] ON [dbo].[VANBAN] 
(
	[ID_NOI_PHAT_HANH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NHAN_VIEN_PHAT_HANH_VAN_BAN_FK] ON [dbo].[VANBAN] 
(
	[ID_NHAN_VIEN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [THUOC_LOAI_VAN_BAN_FK] ON [dbo].[VANBAN] 
(
	[ID_LOAI_VAN_BAN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILEDINHKEM]    Script Date: 08/12/2022 10:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FILEDINHKEM](
	[ID_TAP_TIN] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_VAN_BAN] [decimal](18, 0) NOT NULL,
	[KIEU_TAP_TIN] [varchar](10) NOT NULL,
	[MO_TA] [char](30) NOT NULL,
	[TEN_TAP_TIN] [varchar](20) NOT NULL,
	[DUONG_DAN] [varchar](100) NOT NULL,
 CONSTRAINT [PK_FILEDINHKEM] PRIMARY KEY NONCLUSTERED 
(
	[ID_TAP_TIN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [CO_FILE_DINH_KEM_FK] ON [dbo].[FILEDINHKEM] 
(
	[ID_VAN_BAN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUTPHE]    Script Date: 08/12/2022 10:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BUTPHE](
	[ID_BUT_PHE] [decimal](18, 0) NOT NULL,
	[ID_VAN_BAN] [decimal](18, 0) NOT NULL,
	[NOI_DUNG_BUT_PHE] [varchar](100) NULL,
	[THOI_GIAN_BD] [datetime] NULL,
	[THOI_GIAN_KT] [datetime] NULL,
 CONSTRAINT [PK_BUTPHE] PRIMARY KEY NONCLUSTERED 
(
	[ID_BUT_PHE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [VAN_BAN_FK] ON [dbo].[BUTPHE] 
(
	[ID_VAN_BAN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIENBUTPHE]    Script Date: 08/12/2022 10:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIENBUTPHE](
	[ID_NHAN_VIEN] [decimal](18, 0) NOT NULL,
	[ID_BUT_PHE] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_NHANVIENBUTPHE] PRIMARY KEY CLUSTERED 
(
	[ID_NHAN_VIEN] ASC,
	[ID_BUT_PHE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [LA_FK] ON [dbo].[NHANVIENBUTPHE] 
(
	[ID_NHAN_VIEN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [XU_LY_BUT_PHE_FK] ON [dbo].[NHANVIENBUTPHE] 
(
	[ID_BUT_PHE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGVIEC]    Script Date: 08/12/2022 10:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONGVIEC](
	[ID_CONG_VIEC] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_DO_QUAN_TRONG] [decimal](18, 0) NOT NULL,
	[ID_TAP_TIN] [decimal](18, 0) NOT NULL,
	[ID_NHAN_VIEN] [decimal](18, 0) NOT NULL,
	[ID_LINH_VUC] [decimal](18, 0) NOT NULL,
	[ID_TRANG_THAI] [decimal](18, 0) NOT NULL,
	[ID_NGUOI_GUI] [decimal](18, 0) NOT NULL,
	[ID_NGUOI_NHAN] [decimal](18, 0) NOT NULL,
	[TIEU_DE] [varchar](50) NOT NULL,
	[NGAY_HET_HAN] [date] NOT NULL,
	[NGAY_GUI] [datetime] NOT NULL,
	[TY_LE_HOAN_THANH] [int] NOT NULL,
	[NOI_DUNG] [varchar](200) NOT NULL,
 CONSTRAINT [PK_CONGVIEC] PRIMARY KEY NONCLUSTERED 
(
	[ID_CONG_VIEC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [CO_TRANG_THAI_FK] ON [dbo].[CONGVIEC] 
(
	[ID_TRANG_THAI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CONG_VIEC_THUOC_LINH_VUC_FK] ON [dbo].[CONGVIEC] 
(
	[ID_LINH_VUC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [DINH_KEM_FILE_FK] ON [dbo].[CONGVIEC] 
(
	[ID_TAP_TIN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [DO_QUAN_TRONG_CUA_CONG_VIEC_FK] ON [dbo].[CONGVIEC] 
(
	[ID_DO_QUAN_TRONG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NGUOI_TAO_CONG_VIEC_FK] ON [dbo].[CONGVIEC] 
(
	[ID_NHAN_VIEN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_QUYEN_PHAN_QUYE_CHUCNANG]    Script Date: 08/12/2022 10:20:56 ******/
ALTER TABLE [dbo].[QUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QUYEN_PHAN_QUYE_CHUCNANG] FOREIGN KEY([ID_CHUC_NANG])
REFERENCES [dbo].[CHUCNANG] ([ID_CHUC_NANG])
GO
ALTER TABLE [dbo].[QUYEN] CHECK CONSTRAINT [FK_QUYEN_PHAN_QUYE_CHUCNANG]
GO
/****** Object:  ForeignKey [FK_QUYEN_VAI_TRO_C_VAITRO]    Script Date: 08/12/2022 10:20:56 ******/
ALTER TABLE [dbo].[QUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QUYEN_VAI_TRO_C_VAITRO] FOREIGN KEY([ID_VAI_TRO])
REFERENCES [dbo].[VAITRO] ([ID_VAI_TRO])
GO
ALTER TABLE [dbo].[QUYEN] CHECK CONSTRAINT [FK_QUYEN_VAI_TRO_C_VAITRO]
GO
/****** Object:  ForeignKey [FK_NHANVIEN_CO_VAI_TR_VAITRO]    Script Date: 08/12/2022 10:20:56 ******/
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CO_VAI_TR_VAITRO] FOREIGN KEY([ID_VAI_TRO])
REFERENCES [dbo].[VAITRO] ([ID_VAI_TRO])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CO_VAI_TR_VAITRO]
GO
/****** Object:  ForeignKey [FK_NHANVIEN_THUOC_DON_DONVI]    Script Date: 08/12/2022 10:20:56 ******/
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_THUOC_DON_DONVI] FOREIGN KEY([ID_DON_VI])
REFERENCES [dbo].[DONVI] ([ID_DON_VI])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_THUOC_DON_DONVI]
GO
/****** Object:  ForeignKey [FK_THANH_PH_CO_CHI_TI_LICHLAMV]    Script Date: 08/12/2022 10:20:56 ******/
ALTER TABLE [dbo].[THANH_PHAN_THAM_DU]  WITH CHECK ADD  CONSTRAINT [FK_THANH_PH_CO_CHI_TI_LICHLAMV] FOREIGN KEY([ID_LICH_LAM_VIEC])
REFERENCES [dbo].[LICHLAMVIEC] ([ID_LICH_LAM_VIEC])
GO
ALTER TABLE [dbo].[THANH_PHAN_THAM_DU] CHECK CONSTRAINT [FK_THANH_PH_CO_CHI_TI_LICHLAMV]
GO
/****** Object:  ForeignKey [FK_THANH_PH_CO_THANH__NHANVIEN]    Script Date: 08/12/2022 10:20:56 ******/
ALTER TABLE [dbo].[THANH_PHAN_THAM_DU]  WITH CHECK ADD  CONSTRAINT [FK_THANH_PH_CO_THANH__NHANVIEN] FOREIGN KEY([ID_NHAN_VIEN])
REFERENCES [dbo].[NHANVIEN] ([ID_NHAN_VIEN])
GO
ALTER TABLE [dbo].[THANH_PHAN_THAM_DU] CHECK CONSTRAINT [FK_THANH_PH_CO_THANH__NHANVIEN]
GO
/****** Object:  ForeignKey [FK_VANBAN_DUOC_PHAT_NOI_PHAT]    Script Date: 08/12/2022 10:20:56 ******/
ALTER TABLE [dbo].[VANBAN]  WITH CHECK ADD  CONSTRAINT [FK_VANBAN_DUOC_PHAT_NOI_PHAT] FOREIGN KEY([ID_NOI_PHAT_HANH])
REFERENCES [dbo].[NOI_PHAT_HANH] ([ID_NOI_PHAT_HANH])
GO
ALTER TABLE [dbo].[VANBAN] CHECK CONSTRAINT [FK_VANBAN_DUOC_PHAT_NOI_PHAT]
GO
/****** Object:  ForeignKey [FK_VANBAN_NHAN_VIEN_NHANVIEN]    Script Date: 08/12/2022 10:20:56 ******/
ALTER TABLE [dbo].[VANBAN]  WITH CHECK ADD  CONSTRAINT [FK_VANBAN_NHAN_VIEN_NHANVIEN] FOREIGN KEY([ID_NHAN_VIEN])
REFERENCES [dbo].[NHANVIEN] ([ID_NHAN_VIEN])
GO
ALTER TABLE [dbo].[VANBAN] CHECK CONSTRAINT [FK_VANBAN_NHAN_VIEN_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_VANBAN_THUOC_LOA_LOAIVANB]    Script Date: 08/12/2022 10:20:56 ******/
ALTER TABLE [dbo].[VANBAN]  WITH CHECK ADD  CONSTRAINT [FK_VANBAN_THUOC_LOA_LOAIVANB] FOREIGN KEY([ID_LOAI_VAN_BAN])
REFERENCES [dbo].[LOAIVANBAN] ([ID_LOAI_VAN_BAN])
GO
ALTER TABLE [dbo].[VANBAN] CHECK CONSTRAINT [FK_VANBAN_THUOC_LOA_LOAIVANB]
GO
/****** Object:  ForeignKey [FK_FILEDINH_CO_FILE_D_VANBAN]    Script Date: 08/12/2022 10:20:56 ******/
ALTER TABLE [dbo].[FILEDINHKEM]  WITH CHECK ADD  CONSTRAINT [FK_FILEDINH_CO_FILE_D_VANBAN] FOREIGN KEY([ID_VAN_BAN])
REFERENCES [dbo].[VANBAN] ([ID_VAN_BAN])
GO
ALTER TABLE [dbo].[FILEDINHKEM] CHECK CONSTRAINT [FK_FILEDINH_CO_FILE_D_VANBAN]
GO
/****** Object:  ForeignKey [FK_BUTPHE_VAN_BAN_VANBAN]    Script Date: 08/12/2022 10:20:56 ******/
ALTER TABLE [dbo].[BUTPHE]  WITH CHECK ADD  CONSTRAINT [FK_BUTPHE_VAN_BAN_VANBAN] FOREIGN KEY([ID_VAN_BAN])
REFERENCES [dbo].[VANBAN] ([ID_VAN_BAN])
GO
ALTER TABLE [dbo].[BUTPHE] CHECK CONSTRAINT [FK_BUTPHE_VAN_BAN_VANBAN]
GO
/****** Object:  ForeignKey [FK_NHANVIEN_LA_NHANVIEN]    Script Date: 08/12/2022 10:20:56 ******/
ALTER TABLE [dbo].[NHANVIENBUTPHE]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_LA_NHANVIEN] FOREIGN KEY([ID_NHAN_VIEN])
REFERENCES [dbo].[NHANVIEN] ([ID_NHAN_VIEN])
GO
ALTER TABLE [dbo].[NHANVIENBUTPHE] CHECK CONSTRAINT [FK_NHANVIEN_LA_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_NHANVIEN_XU_LY_BUT_BUTPHE]    Script Date: 08/12/2022 10:20:56 ******/
ALTER TABLE [dbo].[NHANVIENBUTPHE]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_XU_LY_BUT_BUTPHE] FOREIGN KEY([ID_BUT_PHE])
REFERENCES [dbo].[BUTPHE] ([ID_BUT_PHE])
GO
ALTER TABLE [dbo].[NHANVIENBUTPHE] CHECK CONSTRAINT [FK_NHANVIEN_XU_LY_BUT_BUTPHE]
GO
/****** Object:  ForeignKey [FK_CONGVIEC_CO_TRANG__TRANGTHA]    Script Date: 08/12/2022 10:20:56 ******/
ALTER TABLE [dbo].[CONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONGVIEC_CO_TRANG__TRANGTHA] FOREIGN KEY([ID_TRANG_THAI])
REFERENCES [dbo].[TRANGTHAICONGVIEC] ([ID_TRANG_THAI])
GO
ALTER TABLE [dbo].[CONGVIEC] CHECK CONSTRAINT [FK_CONGVIEC_CO_TRANG__TRANGTHA]
GO
/****** Object:  ForeignKey [FK_CONGVIEC_CONG_VIEC_LINHVUC]    Script Date: 08/12/2022 10:20:56 ******/
ALTER TABLE [dbo].[CONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONGVIEC_CONG_VIEC_LINHVUC] FOREIGN KEY([ID_LINH_VUC])
REFERENCES [dbo].[LINHVUC] ([ID_LINH_VUC])
GO
ALTER TABLE [dbo].[CONGVIEC] CHECK CONSTRAINT [FK_CONGVIEC_CONG_VIEC_LINHVUC]
GO
/****** Object:  ForeignKey [FK_CONGVIEC_DINH_KEM__FILEDINH]    Script Date: 08/12/2022 10:20:56 ******/
ALTER TABLE [dbo].[CONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONGVIEC_DINH_KEM__FILEDINH] FOREIGN KEY([ID_TAP_TIN])
REFERENCES [dbo].[FILEDINHKEM] ([ID_TAP_TIN])
GO
ALTER TABLE [dbo].[CONGVIEC] CHECK CONSTRAINT [FK_CONGVIEC_DINH_KEM__FILEDINH]
GO
/****** Object:  ForeignKey [FK_CONGVIEC_DO_QUAN_T_DOQUANTR]    Script Date: 08/12/2022 10:20:56 ******/
ALTER TABLE [dbo].[CONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONGVIEC_DO_QUAN_T_DOQUANTR] FOREIGN KEY([ID_DO_QUAN_TRONG])
REFERENCES [dbo].[DOQUANTRONG] ([ID_DO_QUAN_TRONG])
GO
ALTER TABLE [dbo].[CONGVIEC] CHECK CONSTRAINT [FK_CONGVIEC_DO_QUAN_T_DOQUANTR]
GO
/****** Object:  ForeignKey [FK_CONGVIEC_NGUOI_TAO_NHANVIEN]    Script Date: 08/12/2022 10:20:56 ******/
ALTER TABLE [dbo].[CONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONGVIEC_NGUOI_TAO_NHANVIEN] FOREIGN KEY([ID_NHAN_VIEN])
REFERENCES [dbo].[NHANVIEN] ([ID_NHAN_VIEN])
GO
ALTER TABLE [dbo].[CONGVIEC] CHECK CONSTRAINT [FK_CONGVIEC_NGUOI_TAO_NHANVIEN]
GO
